<div class="tab_header">
    <button class="close_side_bar_button" mat-icon-button (click)="sidenavService.close()">
        <mat-icon>close</mat-icon>
    </button>
    <h2>Options</h2>
</div>

<mat-list @Anim-ListVerHost>
    <mat-list-item *ngIf="options.modelName !== null" @Anim-ListVerItems style="margin-bottom: 15px !important;">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label>Model name</mat-label>
            <input type="text" matInput [formControl]="modelNameControl" [(ngModel)]="options.modelName">
            <mat-error *ngIf="modelNameControl.hasError('required')">You must enter a value</mat-error>
            <mat-error *ngIf="modelNameControl.hasError('minlength')">The text must at least contain 4 characters</mat-error>
            <mat-error *ngIf="modelNameControl.hasError('maxlength')">The text can't exceed 20 characters</mat-error>
        </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="options.toggleVis !== undefined" @Anim-ListVerItems>
        <mat-slide-toggle  [checked]="options.toggleVis"
            (change)="options.toggleVis = $event.source.checked">Toggle visibility option</mat-slide-toggle>
    </mat-list-item>
    <mat-list-item *ngIf="options.editableText !== undefined" @Anim-ListVerItems>
        <mat-slide-toggle [checked]="options.editableText"
            (change)="options.editableText = $event.source.checked">Toggle date text editable</mat-slide-toggle>
    </mat-list-item>
    <mat-list-item *ngIf="options.rules !== undefined" @Anim-ListVerItems>
        <button mat-stroked-button (click)="sidenavService.switchTab('rules')"
            class="form_field list_button">
            Rules
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="options.radioOptions !== undefined" @Anim-ListVerItems>
        <button mat-stroked-button (click)="sidenavService.switchTab('radio-options')"
            class="form_field list_button">
            Options
        </button>
    </mat-list-item>
</mat-list>