<mat-drawer-container style="background-color: transparent; height: 100%;" autosize>
    <div class="drawer_content">
        <div class="container_formobjects">
            <ng-template appFormTypeHost></ng-template>
            <button mat-button class="add_form_button mat-elevation-z2" (click)="addFormObjectDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <mat-drawer #drawer mode="side" position="end">
        <button class="close_side_bar_button" mat-icon-button (click)="closeOptions()">
            <mat-icon>close</mat-icon>
        </button>

        <!-- <app-options-drawer *ngIf="formTypeService.edittedFormTypeOptions" [(options)]="formTypeService.edittedFormTypeOptions"></app-options-drawer> -->
    </mat-drawer>

</mat-drawer-container>