.templates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.template {
    height: 150px;
    width: 200px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    margin: 20px;
    outline: 0;
}
