.templates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.template {
    height: 80px;
    width: 200px;
    border-radius: 25px;
    margin: 10px;
    display: flex;
}

.button_template {
    width: 100%;
}

.button_remove {

}