.container {
    position: absolute;
    background-color: var(--theme-primary-contrast-500);
    left: 5px;
    top: 5px;
    height: 300px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.shapes_holder {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.shape {
    width: 80%;
    display: flex;
    padding: 2px;
    border-radius: 1px;
    color: black;
    transition: all 0.3s ease;
}
.shape:hover {
    cursor: pointer;
    width: 90%;
}
.shape_text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.shape_icon {
    margin-right: 5px;
    margin-left: 5px;
}
.shape_selected {
    background-color: var(--theme-primary-400);
    color: var(--theme-primary-contrast-400);
    width: 90%;
}
.buttons_holder {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
}
.action_button {
    border-radius: 5px;
}