:host {
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
}
.header {
    max-width: 100%;
    height: 50px;
    display: flex;
    z-index: 10;
}
.header_title {
    margin: 0px;
}
.back_button {
    margin-left: 10px;
    transform: scale(1.2);
}
.drawer_content {
    display: flex; justify-content: center; padding: 20px;
}
.container_formobjects {
    width: 300px;
}
.add_form_button {
    background-color: #4fa300a6;
    color: white;
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s;
    font-size: 1.2em;
}
.add_form_button:hover {
    background-color: #4fa300;
}
.edit_formitem_button {
    background-color: #9b9b9b;
    transform: scale(0.8);
}
.side_bar {
    width: 0px;
    height: 100%;
    background-color: #b9b9b9;
    transition: all 0.2s ease-in-out;
}
.side_bar_open {
    width: 300px;
}