<div class="header mat-elevation-z2">
    <div class="center_content">
        <button mat-icon-button routerLink="/lobby" class="back_button">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
    </div>

    <div class="center_content" style="width: 100%;">
        <h1 class="header_title">{{formTemplate.name}}</h1>
    </div>
</div>

<mat-tab-group mat-align-tabs="center" style="flex-grow: 1;" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Editor" style="height: 100% !important;">
        <app-form-editor [formTemplate]="formTemplate"></app-form-editor>
    </mat-tab>
    <mat-tab label="Code" style="height: 100% !important;">
        <app-form-code [formTemplate]="formTemplate"></app-form-code>
    </mat-tab>
</mat-tab-group>