.theme_container {
}
.theme_button {
    border-radius: 5px;
    padding: 20px;
}
.theme_name {
    font-size: 0.8em;
}
.theme_cat {
    width: 60px;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
}
.theme_cat_white {
    background-color: white;
}
.theme_cat_black {
    background-color: black;
}
.theme_primary {
    width: 60px;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
}