<div class="container" *ngIf="!showPreview" [@verticalListAnimation]="animState">
    <mat-form-field class="form_field" (click)="openPicker()">
        <mat-label>{{options.modelName}}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" [disabled]="!options.editableText">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <button mat-icon-button class="edit_formitem_button"
        [class.edit_formitem_button_selected]="sidenavService.activeFormOptions == options"
        (click)="toggleEdit()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="remove_formitem_button" (click)="remove()"
        [disabled]="sidenavService.activeFormOptions == options">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<div class="container" *ngIf="showPreview">
    <mat-form-field class="form_field" (click)="openPicker()">
        <mat-label>{{options.modelName}}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" [disabled]="!options.editableText">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
</div>