.close_side_bar_button {
    color: #f72727;
}
.back_side_bar_button {
    color: #585858;
}

.tab {
    width: 300px;
    padding: 10px;
    display: none;
    animation: fadeEffect 1s;
}
.tab_header {
    display: flex;
    width: 100%;
}
.tab_header h2 {
    width: 100%;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
}

.form_field {
    width: 100%;
}
.list_button {
    background-color: #ededed;
}
.add_button {
    background-color: #4fa300a6;
    color: white;
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s;
    font-size: 1.2em;
}
.remove_button {
    background-color: transparent;
    color: #fc6969;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }