<div [className]="'shape shape_rectangle shadow_' + shape.shadowLvl" cdkDrag *ngIf="shape.shape == 0"
    (mousedown)="onMouseDown($event)"
    (cdkDragEnded)="onMoved($event)"
    [style.width]="getWidth()"
    [style.height]="getHeight()"
    [style.background-color]="shape.color"
    [style.outline]="shape == shapeService.selectedShape ? '3px dashed var(--theme-primary-700)' : ''"
    [style.opacity]="shape.opacity + '%'"
    [ngStyle]="{'transform': 'translate(' + shape.x + 'px, ' + shape.y + 'px) rotate(' + shape.rotation + 'deg)'}">

</div>

<div [className]="'shape shape_triangle shadow_' + shape.shadowLvl" cdkDrag *ngIf="shape.shape == 1"
    (mousedown)="onMouseDown($event)"
    (cdkDragEnded)="onMoved($event)"
    [style.border-bottom]="shape.height + 'px solid ' + shape.color"
    [style.border-left]="(shape.width/2) + 'px solid transparent'"
    [style.border-right]="(shape.width/2) + 'px solid transparent'"
    [style.outline]="shape == shapeService.selectedShape ? '3px dashed var(--theme-primary-700)' : ''"
    [style.opacity]="shape.opacity + '%'"
    [ngStyle]="{'transform': 'translate(' + shape.x + 'px, ' + shape.y + 'px) rotate(' + shape.rotation + 'deg)'}">

</div>

<div [className]="'shape shape_circle shadow_' + shape.shadowLvl" cdkDrag *ngIf="shape.shape == 2"
    (mousedown)="onMouseDown($event)"
    (cdkDragEnded)="onMoved($event)"
    [style.width]="getWidth()"
    [style.height]="getHeight()"
    [style.background-color]="shape.color"
    [style.outline]="shape == shapeService.selectedShape ? '3px dashed var(--theme-primary-700)' : ''"
    [style.opacity]="shape.opacity + '%'"
    [ngStyle]="{'transform': 'translate(' + shape.x + 'px, ' + shape.y + 'px) rotate(' + shape.rotation + 'deg)'}">

</div>