<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>

    <div *ngFor="let category of formTypeCategorieMap.keys()">
        <h4>{{category}}</h4>

        <div class="formtype_row custom_scrollbar">
            <div *ngFor="let formType of formTypeCategorieMap.get(category)" [ngSwitch]="formType.componentName">

                <div class="container_formtype">
                    <mat-checkbox class="checkbox_formtype" [checked]="selectedFormTypeList.includes(formType)"></mat-checkbox>

                    <button mat-button class="button_formtype" (click)="toggleSelectedFormType(formType)">
                        <app-text-input *ngSwitchCase="nameToComponentDict.textinput"
                            style="pointer-events: none !important;" [options]="formType.options" [showPreview]="true">
                        </app-text-input>
                        <app-password-input *ngSwitchCase="nameToComponentDict.passwordinput"
                            style="pointer-events: none !important;" [options]="formType.options" [showPreview]="true">
                        </app-password-input>
                        <app-date-input *ngSwitchCase="nameToComponentDict.dateinput"
                            style="pointer-events: none !important;" [options]="formType.options" [showPreview]="true">
                        </app-date-input>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="submit()" [disabled]="selectedFormTypeList.length == 0">Add</button>
</div>