.form_field {
    width: 100%;
    font-size: 1.2em;
}

.edit_formitem_button {
    background-color: transparent;
    color: #519bfc;
    transform: translateY(10px);
    transition: all 0.3s ease;
}
.edit_formitem_button_selected {
    background-color: #519bfc;
    color: #fff;
}
.edit_formitem_button_selected mat-icon {
    animation: rotate 6s linear infinite;
}
.remove_formitem_button {
    background-color: transparent;
    color: #fc6969;
    transform: translateY(10px);
}