<div class="container" *ngIf="!showPreview" [@Anim-formtype]="animState" cdkDragLockAxis="y" cdkDrag>
    <mat-icon class="drag_button" cdkDragHandle>drag_indicator</mat-icon>

    <section style="width: 100%;">
        <div>{{options.modelName}}</div>
        <mat-slider style="width: 100%;" 
            [thumbLabel]="options.thumbLabel" 
            [invert]="options.inverted"
            [min]="options.min"
            [max]="options.max"
            [step]="options.steps">
        </mat-slider>
    </section>

    <button mat-icon-button class="edit_formitem_button"
        [class.edit_formitem_button_selected]="sidenavService.activeFormOptions == options" (click)="toggleEdit()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="remove_formitem_button" (click)="remove()"
        [disabled]="sidenavService.activeFormOptions == options">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<div class="container" style="display: block;" *ngIf="showPreview">
    <div>Slider</div>
    <mat-slider value="60"></mat-slider>
</div>