<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>

    <div *ngFor="let category of categories">
        <h4>{{formCategoryLibrary[category]}}</h4>

        <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));">
            <div *ngFor="let component of getComponentsByCategory(category)">
                <div class="container_formtype">
                    <mat-checkbox class="checkbox_formtype" [checked]="selectedFormNameList.includes(component)">
                    </mat-checkbox>
    
                    <button mat-button class="button_formtype" (click)="toggleSelectedFormName(component)">
                        <app-component-holder style="pointer-events: none !important;" [componentName]="component">
                        </app-component-holder>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
    <button mat-button (click)="submit()" [disabled]="selectedFormNameList.length == 0">Add</button>
</div>