<mat-toolbar color="primary" class="header mat-elevation-z6">
    <h1>Angular Material Generator</h1>
    <div style="position: absolute; right: 20px; height: 100%; display: flex; align-items: center;">
        <button mat-button class="btn_themes_fake">
            <span style="color: #ff4242;">T</span>
            <span style="color: #26ddfd;">h</span>
            <span style="color: #d11ad1;">e</span>
            <span style="color: #49e422;">m</span>
            <span style="color: #e2cf24;">e</span>
            <span style="color: #2343f7;">s</span>
        </button>
    </div>
    <div style="position: absolute; right: 20px; height: 100%; display: flex; align-items: center;">
        <button mat-button class="btn_themes" (click)="openThemeSheet()">
            <span>T</span>
            <span>h</span>
            <span>e</span>
            <span>m</span>
            <span>e</span>
            <span>s</span>
        </button>
    </div>
</mat-toolbar>

<div class="container center_content">
    <div class="menu">
        <div class="menu_button" (click)="selectFormTemplateDialog()">
            <div>
                <mat-icon class="material-icons-outlined icon_left">text_fields</mat-icon>
                <mat-icon class="material-icons-outlined icon_center">assignment</mat-icon>
                <mat-icon class="material-icons-outlined icon_right">quiz</mat-icon>
            </div>
            <label>Forms</label>
        </div>
        <div class="menu_button" routerLink="/backgrounds">
            <div>
                <mat-icon class="material-icons-filled icon_left">network_cell</mat-icon>
                <mat-icon class="material-icons-outlined icon_center">wallpaper</mat-icon>
                <mat-icon class="material-icons-filled icon_right">circle</mat-icon>
            </div>
            <label>Backgrounds</label>
        </div>
        <div class="menu_button" routerLink="/animations">
            <div>
                <mat-icon class="material-icons-filled icon_left">fast_forward</mat-icon>
                <mat-icon class="material-icons-outlined icon_center">animation</mat-icon>
                <mat-icon class="material-icons-filled icon_right">auto_awesome_motion</mat-icon>
            </div>
            <label>Animations</label>
        </div>
        <div class="menu_button" (click)="selectThemeTemplateDialog()">
            <div>
                <mat-icon class="material-icons-outlined icon_left">colorize</mat-icon>
                <mat-icon class="material-icons-outlined icon_center">palette</mat-icon>
                <mat-icon class="material-icons-outlined icon_right">format_paint</mat-icon>
            </div>
            <label>Themes</label>
        </div>
    </div>
</div>