<div class="header center_content mat-elevation-z2">
    <h1 class="header_title">Angular Material Generator</h1>
</div>
<div class="container center_content">
    <div class="option center_content mat-elevation-z4" (click)="selectFormTemplateDialog()" matRipple>
        Forms
    </div>
    <div class="option options_disabled center_content mat-elevation-z4" matRipple>
        Backgrounds
    </div>
    <div class="option options_disabled center_content mat-elevation-z4" matRipple>
        Themes
    </div>
</div>