:host {
    position: absolute;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
}
.header {
    position: relative;
    font-weight: 500;
    justify-content: center;
    transition: all 0.3s ease;
}
.mat-toolbar h1 {
    font-size: 1.4em;
}
.container {
    flex-grow: 1;
}
.option {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    margin: 20px;
    outline: 0;
}
.options_disabled {
    pointer-events: none;
    color: #727272;
}
.btn_themes {
    font-size: 1em;
    border-radius: 20px;
}
.btn_themes_fake {
    font-size: 1em;
    border-radius: 20px;
}
.btn_themes span {
    transition: ease 0.3s all;
}
.btn_themes:hover span {
    color: transparent;
}