<mat-toolbar color="primary" class="header mat-elevation-z6">
    <h1>Angular Material Generator</h1>
    <div style="position: absolute; right: 20px; height: 100%; display: flex; align-items: center;">
        <button mat-button class="btn_themes_fake">
            <span style="color: #ff4242;">T</span>
            <span style="color: #26ddfd;">h</span>
            <span style="color: #d11ad1;">e</span>
            <span style="color: #49e422;">m</span>
            <span style="color: #e2cf24;">e</span>
            <span style="color: #2343f7;">s</span>
        </button>
    </div>
    <div style="position: absolute; right: 20px; height: 100%; display: flex; align-items: center;">
        <button mat-button class="btn_themes" (click)="openThemeSheet()">
            <span>T</span>
            <span>h</span>
            <span>e</span>
            <span>m</span>
            <span>e</span>
            <span>s</span>
        </button>
    </div>
</mat-toolbar>

<div class="container center_content">
    <div class="option">
        <button mat-button class="btn_option mat-elevation-z8" (click)="selectFormTemplateDialog()">
            Forms
        </button>
        <ul>
            <li>Angular CLI: V 11.0 + </li>
            <li>Angular Material: V 11.0 + </li>
        </ul>
    </div>

    <div class="option">
        <button mat-button class="btn_option mat-elevation-z8" disabled>
            Backgrounds
        </button>
        <ul>
            <li>Angular CLI: V 11.0 + </li>
            <li>Angular Material: V 11.0 + </li>
        </ul>
    </div>

    <div class="option">
        <button mat-button class="btn_option mat-elevation-z8" disabled>
            Animations
        </button>
        <ul>
            <li>Angular CLI: V 11.0 + </li>
            <li>Angular Material: V 11.0 + </li>
        </ul>
    </div>

    <div class="option">
        <button mat-button class="btn_option mat-elevation-z8" (click)="navigateThemes()">
            Themes
        </button>
        <ul>
            <li>Angular CLI: V 11.0 + </li>
            <li>Angular Material: V 11.0 + </li>
        </ul>
    </div>

</div>