.drawer_content {
    display: flex; justify-content: center; padding: 20px;
}
.container_formobjects {
    width: 450px;
}
.add_form_button {
    background-color: #4fa300a6;
    color: white;
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s;
    font-size: 1.2em;
    margin-top: 20px;
}
.add_form_button:hover {
    background-color: #4fa300;
}
.edit_formitem_button {
    background-color: transparent;
    color: #519bfc;
    transform: translateY(10px);
    transition: all 0.3s ease;
}
.edit_formitem_button_selected {
    background-color: #519bfc;
    color: #fff;
}
.edit_formitem_button_selected mat-icon {
    animation: rotate 6s linear infinite;
}
.remove_formitem_button {
    background-color: transparent;
    color: #fc6969;
    transform: translateY(10px);
}
.side_bar {
    width: 0px;
    height: 100%;
    background-color: #b9b9b9;
    transition: all 0.2s ease-in-out;
}
.side_bar_open {
    width: 300px;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}