<mat-drawer-container style="background-color: transparent; height: 100%;" autosize>
    <div class="drawer_content">
        <div class="container_formobjects">
            <div cdkDropList [cdkDropListData]="formTemplate.formSavables" (cdkDropListDropped)="drop($event)">
                <ng-template appFormTypeHost class="droplist"></ng-template>
            </div>

            <button mat-raised-button color="primary" class="add_form_button mat-elevation-z4" (click)="addFormObjectDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <mat-drawer #drawer mode="side" position="end">
        <app-options-drawer *ngIf="sidenavService.activeFormOptions" [(options)]="sidenavService.activeFormOptions">
        </app-options-drawer>
    </mat-drawer>

</mat-drawer-container>