<div class="container" *ngIf="!showPreview" [@verticalListAnimation]="animState">
    <mat-form-field class="form_field">
        <mat-label>{{options.modelName}}</mat-label>
        <input [type]="visible ? 'text' : 'password'" matInput>
        <button mat-button matSuffix mat-icon-button *ngIf="options.toggleVis" (click)="visible = !visible">
            <mat-icon>{{visible ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
    </mat-form-field>
    
    <button mat-icon-button class="edit_formitem_button"
        [class.edit_formitem_button_selected]="formTypeService.edittedFormTypeOptions == options" (click)="toggleEdit()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="remove_formitem_button" (click)="remove()"
        [disabled]="formTypeService.edittedFormTypeOptions == options">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<div class="container" *ngIf="showPreview">
    <mat-form-field class="form_field">
        <mat-label>{{options.modelName}}</mat-label>
        <input [type]="visible ? 'text' : 'password'" matInput>
        <button mat-button matSuffix mat-icon-button *ngIf="options.toggleVis" (click)="visible = !visible">
            <mat-icon>{{visible ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
    </mat-form-field>
</div>