<div class="tab_header">
    <button class="close_side_bar_button" mat-icon-button color="accent" (click)="sidenavService.close()">
        <mat-icon>close</mat-icon>
    </button>
    <h2>Options</h2>
</div>

<mat-list @Anim-ListVerHost>
    <mat-list-item *ngIf="options.modelName !== undefined" @Anim-ListVerItems style="margin-bottom: 15px !important;">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label>Model name</mat-label>
            <input type="text" matInput [formControl]="modelNameControl" [(ngModel)]="options.modelName">
            <mat-error *ngIf="modelNameControl.hasError('required')">You must enter a value</mat-error>
            <mat-error *ngIf="modelNameControl.hasError('minlength')">The text must at least contain 2 characters</mat-error>
            <mat-error *ngIf="modelNameControl.hasError('maxlength')">The text can't exceed 20 characters</mat-error>
        </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="options.placeholder !== undefined" @Anim-ListVerItems style="margin-bottom: 15px !important;">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label>placeholder</mat-label>
            <input type="text" matInput [(ngModel)]="options.placeholder">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="options.min !== undefined" @Anim-ListVerItems style="margin-bottom: 15px !important;">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label>Min number</mat-label>
            <input type="number" matInput [(ngModel)]="options.min">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="options.max !== undefined" @Anim-ListVerItems style="margin-bottom: 15px !important;">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label>Max number</mat-label>
            <input type="number" matInput [(ngModel)]="options.max">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="options.steps !== undefined" @Anim-ListVerItems style="margin-bottom: 15px !important;">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label>Steps</mat-label>
            <input type="number" matInput [(ngModel)]="options.steps" min="1">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="options.optionalText !== undefined" @Anim-ListVerItems style="margin-bottom: 15px !important;">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label>Label</mat-label>
            <input type="text" matInput [formControl]="optionalTextControl" [(ngModel)]="options.optionalText">
            <mat-error *ngIf="optionalTextControl.hasError('required')">You must enter a value</mat-error>
        </mat-form-field>
    </mat-list-item>
    <mat-list-item *ngIf="options.toggleVis !== undefined" @Anim-ListVerItems>
        <mat-slide-toggle  [checked]="options.toggleVis"
            (change)="options.toggleVis = $event.source.checked">Toggle visibility option</mat-slide-toggle>
    </mat-list-item>
    <mat-list-item *ngIf="options.thumbLabel !== undefined" @Anim-ListVerItems>
        <mat-slide-toggle  [checked]="options.thumbLabel"
            (change)="options.thumbLabel = $event.source.checked">Toggle thumb label</mat-slide-toggle>
    </mat-list-item>
    <mat-list-item *ngIf="options.inverted !== undefined" @Anim-ListVerItems>
        <mat-slide-toggle  [checked]="options.inverted"
            (change)="options.inverted = $event.source.checked">Toggle inverted</mat-slide-toggle>
    </mat-list-item>
    <mat-list-item *ngIf="options.editableText !== undefined" @Anim-ListVerItems>
        <mat-slide-toggle [checked]="options.editableText"
            (change)="options.editableText = $event.source.checked">Toggle date text editable</mat-slide-toggle>
    </mat-list-item>
    <mat-list-item *ngIf="options.rules !== undefined" @Anim-ListVerItems>
        <button mat-flat-button color="accent" (click)="sidenavService.switchTab('rules')"
            class="form_field list_button">
            Rules
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="options.radioOptions !== undefined" @Anim-ListVerItems>
        <button mat-flat-button color="accent" (click)="sidenavService.switchTab('radio-options')"
            class="form_field list_button">
            Options
        </button>
    </mat-list-item>
</mat-list>