<div class="container" *ngIf="!showPreview" [@Anim-formtype]="animState" cdkDragLockAxis="y" cdkDrag>
    <mat-icon class="drag_button" cdkDragHandle>drag_indicator</mat-icon>

    <section style="width: 100%;">
        <mat-slide-toggle>
            {{options.modelName}}
        </mat-slide-toggle>
    </section>

    <button mat-icon-button class="edit_formitem_button"
        [class.edit_formitem_button_selected]="sidenavService.activeFormOptions == options" (click)="toggleEdit()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="remove_formitem_button" (click)="remove()"
        [disabled]="sidenavService.activeFormOptions == options">
        <mat-icon>delete</mat-icon>
    </button>
</div>

<div class="container" *ngIf="showPreview">
    <mat-slide-toggle checked="true">
        Switch
    </mat-slide-toggle>
</div>