html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; }

.center_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-tab-body-wrapper {
    height: 100% !important;
}