@import './styles/material-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; }

.center_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-tab-body-wrapper {
    height: 100% !important;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #519bfccb;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #519bfc;
}

.mat-card {
    transition: all 0.3s ease !important;
}
.mat-app-background {
    transition: all 0.3s ease;
}
.mat-form-field-wrapper {
    width: 100% !important;
}