<mat-toolbar color="primary" class="header mat-elevation-z6">

    <div style="position: absolute;">
        <button color="accent" mat-icon-button routerLink="/lobby" class="header_icon_button" #tooltip="matTooltip"
            matTooltip="Lobby">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <button color="accent" mat-icon-button (click)="export()" class="header_icon_button" #tooltip="matTooltip"
        matTooltip="Export image">
            <mat-icon>save_alt</mat-icon>
        </button>
    </div>

    <div class="center_content" style="width: 100%;">
        <h1 class="header_title">{{backgroundTemplate.name}}</h1>
        <button color="accent" mat-icon-button class="header_icon_button" (click)="editBackgroundTemplateDialog()" #tooltip="matTooltip"
            matTooltip="Edit template name">
            <mat-icon>edit</mat-icon>
        </button>
    </div>

    <div style="position: absolute; right: 20px; height: 100%; display: flex; align-items: center;">
        <button mat-button class="btn_themes_fake">
            <span style="color: #ff4242;">T</span>
            <span style="color: #26ddfd;">h</span>
            <span style="color: #d11ad1;">e</span>
            <span style="color: #49e422;">m</span>
            <span style="color: #e2cf24;">e</span>
            <span style="color: #2343f7;">s</span>
        </button>
    </div>
    <div style="position: absolute; right: 20px; height: 100%; display: flex; align-items: center;">
        <button mat-button class="btn_themes" (click)="openThemeSheet()">
            <span>T</span>
            <span>h</span>
            <span>e</span>
            <span>m</span>
            <span>e</span>
            <span>s</span>
        </button>
    </div>
</mat-toolbar>

<div style="flex-grow: 1; overflow-y: auto;">
    <app-background-editor style="height: 100%;" [backgroundTemplate]="backgroundTemplate"></app-background-editor>
</div>